
.make{
       position:  fixed;
       margin-left: 100px;
       margin-top:20px
}


#gamechanger{
   display: none;
   font-size: large;
   padding:10px;
   margin: 10px;
    
}
.center{
          display: flex;
          align-items: center;
          justify-content: center;
         height: 100vh;
}
#text{
    width: 20%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
}
#play{
      background-color: black;
      color: white;
      width: 100px;
   
}
.btn{
   display: flex;
       background-color: black;
       color:white;
       width: 100px;
        
}